*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
}


.image-section{
    
    background-image: url(./assets/bg-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 35%;
    color: white;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    


}

.txt{
    display: flex;
    justify-content: center;
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    padding: 12px;
}



.logo{
    height: 120px;
    width: 120px;
}

.disc{
    width: 100%;
}

.second-part{
    height: 100vh;
    width: 100%;
    
}

.first{
    background-color: #EFEFEF;
    width: 100%;
    height: 24%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
 

}



  .first p {
    margin: 3rem;
    font-family: monospace;
    font-weight: 700;
    font-size: 2rem;
  }

  #form-container {
    background-color: #FFFFFF;
    width: 100%;
    height: fit-content;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.1);
    z-index: 1;
    padding: 20px;
  }


  legend {
    font-size: 22px;
    font-weight: 700;
    width: 100%;
    margin-bottom: 1rem;
  }


.form-items {
  flex: 1 0 50%;
  font-size: 14px;
  font-weight: 700;
  color: #242C2E;
  margin: 1rem 0;
}

input {
    margin-top: 10px;
    height: 40px;
    width: max(300px,75%);
    border-radius: 6px;
    border: 1px solid #E5E7EB;
    outline: none;
    padding: 2px;
    font-size: 16px;
    font-weight: bold;
    
  }
input:focus{
    border: 2px solid dodgerblue;
}

 .bab{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    gap: 50px;
 }

 #create-btn {
    background-color: #4B8468;
    border-radius: 8px;
    border: none;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.2);
    font-size: 18px;
    color: white;
    width: 180px;
    height: 60px;
    padding: 12px;
    margin: 2rem 3rem;
  }

  #create-btn:hover{
    background-color: #568b71;
  }

  #create-btn:active{
    background-color: #1b7549;
  }

  .form-action p{
    font-size: 18px;
    margin: 2rem 3rem;
  }

  .form-action a{
    text-decoration: none;
    color: #568b71;
    font-weight: bold;
  }